.mainContainer{
    @apply fixed right-0 bottom-4 lg:bottom-0 
            w-full bg-charcoal-black rounded-t-xl
            flex items-start
            ;

    height: calc(100vh - 58px - 97px);

    @media (min-width: 1024px) {
        width: calc(100% - 70px - 16px);
        height: calc(100vh - 100px);
        border-radius: 8px 0 0 0;
      }
}