@import "tailwindcss";
@tailwind utilities;

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Imports */
@import "./imports.css";

*{
  font-family: "Lato", sans-serif;
}

@theme {
    --color-dark-black: #121212;
    --color-charcoal-black: #1E1E1E;

    --color-dark-gray: #2A2A2A;
    --color-near-black: #2C2C2E;
    --color-filter: #333333;
    --color-gainsboro: #D9D9D9;
    --color-light-gray: #E0E0E0;

    --color-sapphire-blue: #1F3A93;
    --color-light-blue: #3A64B7;

    /* Status colors */
    --color-status-new: #2D72B8;
    --color-status-analyzing: #F39C12;
    --color-status-correcting: #E67E22;
    --color-status-resolved: #2ECC71;
    --color-status-aproved: #27AE60;
    --color-status-rejected: #E74C3C;

    /* Department colors */
    --color-department-housing: #7F5A36;
    --color-department-works: #5D6D7E;
    --color-department-health: #27AE60;
    --color-department-civilDefense: #D35400;
    --color-department-education: #2980B9;
    --color-department-transport: #1ABC9C;

    /* size */
    --navBar-width: 60px;
    /* Spacing  */
    --spacing: 8px;
}


body{
    @apply bg-dark-black;
}