@import "tailwindcss";
@tailwind utilities;

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* Imports */
@import "./imports.css";

* {
  font-family: Inter, sans-serif;
}

@theme {
  --color-dark-bg: #0f1419;
  --color-dark-card: #1a1f2e;
  --color-dark-border: #2d3748;
  --color-green-primary: #10b981;
  --color-green-secondary: #065f46;
  --color-green-light: #d1fae5;
  --color-gray-text: #9ca3af;
  --color-red-primary: #ef4444;
  --color-yellow-primary: #f59e0b;
  --color-blue-primary: #3b82f6;

  --color-dark-black: #121212;
  --color-charcoal-black: #1e1e1e;

  --color-dark-gray: #2a2a2a;
  --color-near-black: #2c2c2e;
  --color-filter: #333333;
  --color-gainsboro: #d9d9d9;
  --color-light-gray: #e0e0e0;

  --color-sapphire-blue: #1f3a93;
  --color-light-blue: #3a64b7;

  /* Status colors */
  --color-status-new: #2d72b8;
  --color-status-analyzing: #f39c12;
  --color-status-correcting: #e67e22;
  --color-status-resolved: #2ecc71;
  --color-status-aproved: #27ae60;
  --color-status-rejected: #e74c3c;

  /* Department colors */
  --color-department-housing: #7f5a36;
  --color-department-works: #5d6d7e;
  --color-department-health: #27ae60;
  --color-department-civilDefense: #d35400;
  --color-department-education: #2980b9;
  --color-department-transport: #1abc9c;

  /* size */
  --navBar-width: 60px;
  /* Spacing  */
  --spacing: 4px;
}

body {
  @apply bg-dark-black;
}
